.inputCard {
    width: 460px;
    padding: 10px 0px;
    text-align: center;
}
.inputAddressCard {
    width: 250px;
    padding: 10px 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
h1 {
    margin: 3px;
}
.css-1usso8h-MuiDataGrid-root .MuiDataGrid-cell.MuiDataGrid-cell--editing {
    box-shadow: 0px 0px 0px 0px !important;
}
